<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alpha_test">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PermitionsRecived"></activity>
        <activity
            android:name=".AskExit"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ChangeProfile" />
        <activity android:name=".NotActivated" />
        <activity android:name=".profile" />
        <activity android:name=".New_group" />
        <activity
            android:name=".Send_Permition"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".AddStudentsToGroup" />
        <activity android:name=".Team" />
        <activity android:name=".Groups" />
        <activity android:name=".Acept_pupils" />
        <activity android:name=".DataView" />
        <activity
            android:name=".ManageAcc"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity android:name=".StudentLogin" />
        <activity android:name=".TeacherLogin" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".GuardLogin" />
        <activity android:name=".LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BarcodeScan" />
        <activity android:name=".UploadPictures" />
        <activity android:name=".AddData" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>